
 
<html>

<head>
  <link rel="stylesheet" href="../public/css/style.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Waiters App</title>
</head>
<body>
  <div class ="angle-gradient">
<div class="row">
  <div style="text-align:center; box-shadow: 0 8px 6px -6px black; box-shadow: 0 8px 6px -6px black;" class=" flow-text col s12 m12 l12">
<h3 style="color:rgb(8, 8, 8)">Waiters Weekly Schedule</h3> 
  </div>
  </div>


<div class="rows">
<form action="/waiters/{{username}}" method="post">
  <div class="greet">
    <h5 class="flow-text" >{{messages.greet}}</h5>
    <br>
  </div>
    {{#each displayDays}}
    <div class=" days col s6 l1">
      <label>
    <input type="checkbox" id="day2" name="day" value="{{weekday}}" {{checked}}/>
    <span style="color:rgb(8, 8, 8)">{{weekday}}</span>
  </label>
  </div>
  {{/each}}
 
  </div>
  <br>
  <div class="row">
  <div class=" but col s10" >
    <input style="box-shadow: 8 8px 6px -8px black; box-shadow: 0 8px 6px -6px black; padding:10px; width:100px; height:50px; margin-left:100px; background-color:rgb(21, 167, 21); color:rgb(250, 250, 250)" type="submit" value="Submit">
  </div>
  </div>
</form>
</div>
</body>